* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFC9D7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 100px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    border: solid 3px #FC809F;
    background-color: #FFE9EF;
    border-radius: 4px;
}

.cell {
    border: solid 1px #FC809F;
    color: #FC809F;
}

.message-board {
    background-color: #FFBCCD;
    /* height: 200px; */
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    border-radius: 5px;
}

#reset_btn {
    grid-column: 2 / 3;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #FFE9EF;
    color: #FC809F;
    font-weight: bold;
    font-size: 14px;
}

.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* padding: 20px; */
    gap: 20px;
    /* background-color: #FF9CB5; */
    height: 400px;
    width: 400px;
}