* {
    padding: 0;
    margin: 0;
    font-family: "Gabarito", sans-serif;
}

body {
    background-color: #FFC9D7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 100px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    border: solid 3px #FC809F;
    background-color: #FFE9EF;
    border-radius: 4px;
}

.cell {
    display: flex;
    border: solid 1px #FC809F;
    color: #FC809F;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.message-board {
    white-space: pre-line;
    text-align: center;
    font-size: 25px;
    color: #FC809F;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-top: 20px;

}

#reset_btn {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #FC809F;
    background-color: #FFE9EF;
    color: #FC809F;
    font-weight: bold;
    font-size: 16px;
}

.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    gap: 30px;
}